<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @insurance_provider.name %>
</p>


<%= link_to 'Edit', edit_insurance_provider_path(@insurance_provider) %> |
<%= link_to 'Back', insurance_providers_path %>
