
    <div class="business-header">
    
      <div class="container">

        <div class="row">
          <div class="span12">
           <!-- The background image is set in the custom CSS -->
            
          </div>
        </div>
      
      </div>
    
    </div>
    
    <div class="container">
    
      <hr>
      
      <div class="row">
        <div class="span8">
          
          <h3>Antes de ir al medico, compara.</h3>
          <h4>Somos el primer comparador online gratuito de prestaciones medicas en Chile. Aquí podrás cotizar y comparar gratis precios y características de distintas prestaciones, para que vayas al medico informado y a un menor costo!</h4>
          <p><a class="btn btn-success btn-info" href="#">Conoce más &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Contactanos</h2>
<address>
   <strong>Compara Salud</strong><br>
   
Hecho con cariño en Santiago, Chile<br>

        </div>
      </div>
      
      <hr>

      
