<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @consultation_type.name %>
</p>


<%= link_to 'Edit', edit_consultation_type_path(@consultation_type) %> |
<%= link_to 'Back', consultation_types_path %>
